__pycache__/

#venv
venv/
.venv/


.idea/
.vscode/

# macos nutzlose daten
.DS_Store

# Secrets — niemals committen
.env

# Lokale Datenbank + Uploads
# instance/ -> Einfacher für Demo und Testen, daher wird db nicht ignored