<!doctype html>
<html lang=de>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block TITLE %}{% endblock %} - ThesisMatch</title>
    {{ bootstrap.load_css() }}
</head>

<body>
{% from 'bootstrap5/nav.html' import render_nav_item %}

<nav class="navbar nabar-expand-xl border-bottom mb-3">

<div class="container-fluid">
<a class="navbar-brand" herf="{{url_for('index')}}">ThesisMatch</a>
<ulclass="navbar-nav">

{{render_nav_item('feed', 'Professoren')}}

</ul>
</div>
</nav>

        {% block CONTENT %}{% endblock %}
    
{{ bootstrap.load_js() }}
</body>

</html>