{% extends 'base.html' %}

{% block TITLE %} Professor Feed{% endblock %}

{% block CONTENT %}

<h1>Professoren</h1>

<form action="{{ url_for('feed') }}" method="post">
 {{ form.csrf_token }}
  <div class="row g-2 mb-3">
     <div class="col">
         {{ form.search(class='form-control', placeholder='Suche') }}
     </div>
     <div class="col-auto">
          {{ form.submit(class='btn btn-primary') }}
     </div>
  </div>
</form>

<div class="row">
{% for prof in professoren %}
<div class="col-md-4 mb-3">
<div class="card">
<div class="card-body">
<!-- prof daten werden aus db abgerufen-->
<h5 class="card-title">{{ prof.name}}</h5>
<p class="card-text">{{ prof.fachbereich }}</p>
<a href="{{ url_for('profile', id=prof.id)}}" class="btn btn-primary">Profil ansehen</a>

</div>
    </div>
</div>

{% endfor %}

</div>
{% endblock %}
