{% extends'base.html' %}

{% block TITLE %}Professorenprofil{% endblock %}

{% block CONTENT %}
<div class="card">
<div class="card-body">

<!-- prof daten werden aus db abgerufen-->
<h1 class="card-title">{{prof.user.first_name}} {{prof.user.last_name}}</h1>
<p class="card-text"><strong>Fachbereich:</strong>{{prof.faculty.name}}</p>
<p class="card-text"><strong>Themengebiete:</strong>{{prof.research_areas}}</p>
<p class="card-text"><strong>Anforderungen:</strong>{{prof.requirements}}</p>
<p class="card-text"><strong>Verfügbarkeit Status:</strong>{% if prof.accepting_requests == 1 %} Verfügbar {% else %} Nicht verfügbar {% endif %}</p>
<a href="{{ url_for('feed')}}" class="btn btn-secondary">Zurück</a>

<!--Link zu anfrageseite wenn screen 4 fertig ist -->
<a href="anfrageflow" class="btn btn-primary">Anfrage stellen</a>
</div>
</div>


{% endblock %}